extends layout.pug

block headAdditions
  title Mattheson, #{number}. Probstück

  link(rel='stylesheet' href='/css/midiplayer.css')
  link(rel='stylesheet' href='/css/transcription.css')

  script.
    number = "#{number}";
    label = "#{label}";
    language = "#{language}";
    midi = "#{midi}";
  
  script(type='text/javascript' src='/js/svg.min.js')
  script(type='text/javascript' src='/js/wildwebmidi.js')
  script(type='text/javascript' src='/js/midiplayer.js')
  script(type='text/javascript' src='/js/transcription.js')

block options
  a.btn(data-toggle="modal" data-target="#optionsModal")
    i.fas.fa-lg.fa-wrench

block content
  #optionsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="options-title" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#options-title Options
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
  
        .modal-body 
          h5 facsimile display
          small (moving the mouse on a measure or paragraph will display the according 
            | facsimile region)
          
          .form-check
            input#display-facsimile.form-check-input(type='checkbox' name='display-facsimile' autocomplete='off')
            label.form-check-label(for='display-facsimile') display facsimile
          
          .form-group
            label.form-control-label(for='facsimile-size') size 
            input#facsimile-size.form-control-range.custom-range(type='range' name='facsimile-size' min='20' max='80')
          
          .form-group
            label.form-control-label(for='facsimile-quality') quality 
            select#facsimile-quality.form-control(name='facsimile-quality')
              option color 
              option gray 
          
          h5 staves and clefs
          .form-check.form-check-inline
            input#staves-above(type='number' name='staves-above' min='0' max='10' value='0' autocomplete='off')
            label(for='staves-above') above
          
          .form-check.form-check-inline
           input#staves-below(type='number' name='staves-below' min='0' max='10' value='0' autocomplete='off')
           label(for='staves-below') below
  
          .form-check
            input#modern-clefs.form-check-input(type='checkbox' name='modern-clefs' autocomplete='off')
            label.form-check-label(for='modern-clefs') modern clefs
  
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
          button#update-page.btn.btn-primary(type="button" data-dismiss="modal") Update view
  
  .row
    .col-sm#score-view !{svgScore}
    .col-sm#comments-view !{teiComment}
  
  #meter-overlay.signature-overlay
  #key-overlay.signature-overlay
    
  #footer.fixed-bottom.d-flex.bg-light.rounded-top
    #player.p-1
    #pdf-download.p-1.fas.fa-file-pdf.fa-2x
