extends layout.pug

block headAdditions
  if number == "frontpage"
    title Mattheson, 24 Probstücke
  else
    title Mattheson, #{number}. Probstück

  link(rel='stylesheet' href='/css/midiplayer.css')
  link(rel='stylesheet' href='/css/view.css')
  link(rel='stylesheet' href='/css/tei-speech.css')
  link(rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css')

  script.
    mei = `!{mei}`;
    teiComments = `!{teiComment}`;
    number = "#{number}";
    author = "#{author}";
    edition = "#{edition}";
    keyCharacteristics = `!{keyCharacteristics}`;
    meterCharacteristics = `!{meterCharacteristics}`;
  
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.13/svg.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/findAndReplaceDOMText/0.4.6/findAndReplaceDOMText.min.js')
  script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js')
  script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/pdfkit@0.11.0/js/pdfkit.standalone.js')
  script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/svg-to-pdfkit@0.1.8/source.min.js')
  script(type='text/javascript' src='http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js')
  script(type='text/javascript' src='/js/verovio-toolkit.js')
  script(type='text/javascript' src="/js/blobstream.js")
  script(type='text/javascript' src="/js/vrv-ttf.js")
  script(type='text/javascript' src='/js/wildwebmidi.js')
  script(type='text/javascript' src='/js/midiplayer.js')
  script(type='text/javascript' src='/js/view.js')

block options
  if mei
    .p-2(data-toggle="modal" data-target="#optionsModal")
      i.fas.fa-lg.fa-wrench(
        data-toggle="popover"
        data-content="Add staves, change clefs")
  
  if mei && author == 'mattheson'
    .p-2(data-toggle="modal" data-target="#accidentalsModal")
      i.fas.fa-lg.fa-hashtag(
        data-toggle="popover"
        data-content="Accidentals"
        )
  
  if author == 'mattheson'
    .p-2(data-toggle="modal" data-target="#facsimileModal")
      i.far.fa-lg.fa-image(
        data-toggle="popover"
        data-content="Options for displaying facsimile")
  
    .p-2(data-toggle="modal" data-target="#orthographyModal")
      i.fas.fa-lg.fa-font(
        data-toggle="popover"
        data-content="Normalize orthography")
  
  .p-2(data-toggle="modal" data-target="#infoModal")
    i.fas.fa-lg.fa-info-circle(
      data-toggle="popover"
      data-content="Retrieve meta information")

block content
  #optionsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="options-title" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#options-title Staves and Clefs
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        
        .modal-body
          form#options-form(method='get')
            .form-check.form-check-inline
              input#staves-above(type='number' name='above' min='0' max='10' value='0')
              label(for='staves-above') above
            
            .form-check.form-check-inline
             input#staves-below(type='number' name='below' min='0' max='10' value='0')
             label(for='staves-below') below
  
            .form-check
              input#modern-clefs.form-check-input(type='checkbox' name='modernClefs')
              label.form-check-label(for='modern-clefs') modern clefs

            .form-check
              input#show-annotation-staff.form-check-input(type='checkbox' name='showAnnotationStaff')
              label.form-check-label(for='show-annotation-staff') Embed Mattheson's annotations into the score
          
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button#update-page.btn.btn-primary(type="button" data-dismiss="modal") Update view

  #accidentalsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="accidentals-title" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#accidentals-title Accidentals
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
  
        .modal-body
          .form-check
            input#originalAccidentals.form-check-input(type='checkbox' name='original-accidentals' autocomplete='off')
            label.form-check-label(for='originalAccidentals') Original accidentals
            small 
             | This will show all the original accidentals, including those which
             | could be left out from a modern score.
          
          .form-check
            input#hideSupplied.form-check-input(type='checkbox' name='hide-supplied' autocomplete='off')
            label.form-check-label(for='hideSupplied') Hide supplied accidentals
            small 
              | This option will hide all the accidentals that are necessary for 
              | a modern score and are supplied by the editor.

        .modal-footer
          button#update-accidentals.btn.btn-primary(type="button" data-dismiss="modal") Close


  #facsimileModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="facsimile-title" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#facsimile-title Facsimile Display
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
  
        .modal-body
          small (moving the mouse on a measure or paragraph will display the according 
            | facsimile region)
          
          .form-check
            input#display-facsimile.form-check-input(type='checkbox' name='display-facsimile' autocomplete='off')
            label.form-check-label(for='display-facsimile') display facsimile
          
          .form-group
            label.form-control-label(for='facsimile-size') size 
            input#facsimile-size.form-control-range.custom-range(type='range' name='facsimile-size' min='20' max='80')
          
          .form-group
            label.form-control-label(for='facsimile-quality') quality 
            select#facsimile-quality.form-control(name='facsimile-quality')
              option color
              option gray 
              option bitonal 
  
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
          button#update-facsimile.btn.btn-primary(type="button" data-dismiss="modal") Update view

  #orthographyModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="orthography-title" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#orthography-title Normalize Orthography
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
  
        .modal-body
          .form-check
            input#normalize-s.form-check-input(type='checkbox' name='normalize-s' autocomplete='off')
            label.form-check-label(for='normalize-s') normalize the long s (ſ) to s

          .form-check
            input#normalize-umlaut.form-check-input(type='checkbox' name='normalize-umlaut' autocomplete='off')
            label.form-check-label(for='normalize-umlaut') normalize the umlauts

          .form-check
            input#normalize-abbreviations.form-check-input(type='checkbox' name='normalize-abbreviations' autocomplete='off')
            label.form-check-label(for='normalize-abbreviations') normalize abbreviation lines
          
          .form-check
            input#ignore-lb.form-check-input(type='checkbox' name='ignore-lb' checked)
            label.form-check-label(for='ignore-lb') ignore original line breaks
          
          .form-check
            input#ignore-pagination.form-check-input(type='checkbox' name='ignore-pagination' autocomplete='off')
            label.form-check-label(for='ignore-pagination') ignore original pagination
  
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
          button#update-orthography.btn.btn-primary(type="button" data-dismiss="modal") Update

  #infoModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="info-title" aria-hidden="true")
    .modal-dialog(role="document").modal-lg
      .modal-content
        .modal-header
          h5.modal-title#info-title Meta information
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
  
        .modal-body#transcript-info
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

  .row
    if mei
      .col-sm#score-view
        .fas.fa-spinner.fa-spin
    if teiComment
      .col-sm#comments-view 
        .fas.fa-spinner.fa-spin
  
  #footer.fixed-bottom.d-flex.bg-light.rounded-top
    if mei
      #player.p-1
      
      a#pdf-download.p-1.fas.fa-file-pdf.fa-2x(
        data-toggle="popover"
        data-placement="top"
        data-content="Download score as PDF (Might take some seconds)")
      
      .dropdown.p-1
        #xmlDownload(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          i.far.fa-file-code.fa-2x(
            data-toggle="popover"
            data-placement="top"
            data-content="Download XML of the score encoded as MEI or of the text encoded as TEI")
        div(aria-labelledby="xmlDownload").dropdown-menu
          a.dropdown-item#mei-download(href="#") MEI
          a.dropdown-item#tei-download(href="#") TEI
        </div>
      </div>
